* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.js-svh {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100svh;
  pointer-events: none;
}

.js-lvh {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: max(100dvh, 100lvh);
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  line-height: 1;
}

html, body {
  background-color: #FFF;
}

.js-tgSVG {
  position: fixed;
  top: 0;
  left: -9999px;
  z-index: 9999;
}

.s-gpu {
  will-change: transform;
}


.l-con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10vw;
  padding: 100px 20px;
  overflow: hidden;
  font-weight: bold;
  font-size: 50vw;

  transition: opacity 0.25s ease-out;
}

.l-con-a {
  background-color: yellow;
  color: #000;
  opacity: 0;
}

.l-con-b {
  background-color: #000;
  color: #FFF;
  transform: scaleX(-1) scaleY(-1);
  opacity: 1;
}

body.-scroll .l-con-a {
  opacity: 1;
}




.l-debug {
  position: fixed;
  top: 100px;
  left: 0;
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  display: none;
}
.l-info {
  position: fixed;
  top: 0;
  left: 0;
  margin: 40px;
  color: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 9999;
}
.l-info p {
  font-size: 14px;
  color: inherit;
  background-color: #000;
  padding: 5px 20px 5px 20px;
}
.l-info a {
  color: inherit;
  text-decoration: line-through;
}
.l-info a:hover {
  text-decoration: none;
}

@media screen and (max-width:768px) {
  .l-info {
    justify-content: flex-start;
    margin: 20px;
    height: auto;
  }
  .l-info p {
    font-size: 10px;
  }
}